h1 {
  margin-top: 5px;
  font-size: 32px;
  text-align: center;
  font-weight: 600;
  color: hsl(0, 100%, 50%);
  text-shadow: 
    0 0 6px rgba(0, 150, 255, 0.3),
    0 0 12px rgba(0, 180, 255, 0.2);
}

.team-card h3 {
  margin-top: 10px;
  margin-bottom: 6px;
  font-size: 20px;
  color: #1e293b;
  text-align: center;
}

.team-card p {
  text-align: center;
  margin: 4px 0;
}



.dashboard-container {
  padding: 20px;
  animation: fadeSlide 0.7s ease;
}

/* HEADER SECTION WITH TWO LOGOS */
.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.logo-img {
  width: 200px;
  height: 110px;
  object-fit: contain;
  animation: zoomIn 0.6s ease;
}

.title-block {
  text-align: center;
}

.project-title {
  font-size: 28px;
  color: #0b2540;
  margin: 0;
  font-weight: 700;
}

.college-text {
  color: #475569;
  font-size: 22px;
}

/* TEAM SECTION */

.section-heading {
   text-align: left;
  margin-top: 20px;
  font-size: 24px;
  color: #0b2540;
  margin-bottom: 10px;
}

/* TEAM GRID */
.team-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
 
}

.team-card {
  background: #ffffff;
  padding: 40px;
  border-radius: 15px;
  border: 1px solid #d8e1eb;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-card:hover {
  transform: translateY(-5px) scale(1.03);
  box-shadow: 0px 6px 18px rgba(0,0,0,0.12);
}

/* STUDENT PHOTO PLACEHOLDER */
.photo-placeholder {
  width: 100%;
  height: 170px;
  background: #eef3f8;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #64748b;
  margin-bottom: 45px;
  font-size: 14px;
}

/* ANIMATIONS */
@keyframes zoomIn {
  from { transform: scale(0.7); opacity: 0; }
  to   { transform: scale(1); opacity: 1; }
}

@keyframes fadeSlide {
  from { opacity: 0; transform: translateY(15px); }
  to   { opacity: 1; transform: translateY(0); }
}

.fade-in {
  animation: fadeSlide 0.7s ease;
}




