# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - fyp-agentic-rag

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: fypregistry2026.azurecr.io/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_705493100206471596D67DE2B5C9E443 }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_04AF88C58890488A94FDF3EAE61BCF06 }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: ./agentic-rag-backend
          push: true
          tags: fypregistry2026.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_705493100206471596D67DE2B5C9E443 }}/agentic-rag-backend:${{ github.sha }}
          file: ./agentic-rag-backend/Dockerfile

  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    needs: build
    
    steps:
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_7FDED27F396C4453B3D3B6D3577F856C }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_99526B76FF094C6C9976D2EF62FEF3B4 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_7593D24895EF4C4E87DFFE7182593193 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'fyp-agentic-rag'
          slot-name: 'Production'
          images: 'fypregistry2026.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_705493100206471596D67DE2B5C9E443 }}/agentic-rag-backend:${{ github.sha }}'
